input,
textarea,
select,
button {
  width: 150px;
  padding: 5;
  margin: 10;
  box-sizing: border-box;
}

fieldset {
  position: relative;
}

body {
  font: 1.3rem sans-serif;
  padding: 1;
  margin: 0;
  background: #f2949441;
}
form {
  position: relative;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  background: #fff;
  width: 70%;
}
button {
  padding: 5px;
  font: bold 0.6em sans-serif;
  border: 2px solid #333;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}
